<div class="resume">
  <div class="left-side">
    <div class="person-img"><img src="./images/Group 1058.png" /></div>
    <div>
      <h2 class="person-info">{{ user.name }}</h2>
      <img class="bottom-bar" src="./images/Group 3.png" />
      <h3 class="info-sub">Senior NodeJS Engineer</h3>
      <img class="bottom-bar" src="./images/Group 3.png" />
      <h3 class="info-sub">Years Experience</h3>
      <img class="bottom-bar" src="./images/Group 3.png" />
      <h3 class="info-sub">Email: sales@invozone.com</h3>
      <img class="bottom-bar" src="./images/Group 3.png" />
    </div>
  </div>

  <!-- Right Side -->
  <div class="right-side">
    <div class="logo">
      <img src="./images/InvoZone_Logo@2x 1.png" />
      <div class="bg-top">Private Document: Candidate Profile</div>
    </div>
    <img class="bottom-bar pt-5" src="./images/Rectangle 9.png" />
    <div class="title">
      <h1>PROFESSIONAL SUMMARY</h1>
    </div>
    <img class="bottom-bar-right" src="./images/Group 4.png" />
    <p class="summmry-para">
      Lorem Ipsum is simply dummy text of the printing and typesetting
      industry. Lorem Ipsum has been the industry's standard dummy text ever
      since the 1500s, when an unknown printer took a galley of type and
      scrambled it to make a type specimen book. It has survived not only
      five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with
      the release of Letraset sheets containing Lorem Ipsum passages, and
      more recently with desktop publishing software like Aldus PageMaker
      including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of
      the printing and typesetting industry. Lorem Ipsum has been the
      industry's standard dummy text ever since the 1500s, when an unknown
      printer took a galley of type and scrambled it to make a type specimen
      book. It has survived not only five centuries, but also the leap into
      electronic typesetting, remaining essentially unchanged. It was
      popularised in the 1960s with the release of Letraset sheets
      containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting
      industry. Lorem Ipsum has been the industry's standard dummy text ever
      since the 1500s, when an unknown printer took a galley of type and
      scrambled it to make a type specimen book. It has survived not only
      five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with
      the release of Letraset sheets containing Lorem Ipsum passages, and
      more recently with desktop publishing software like Aldus PageMaker
      including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of
      the printing and typesetting industry. Lorem Ipsum has been the
      industry's standard dummy text ever since the 1500s, when an unknown
      printer took a galley of type and scrambled it to make a type specimen
      book. It has survived not only five centuries, but also the leap into
      electronic typesetting, remaining essentially unchanged. It was
      popularised in the 1960s with the release of Letraset sheets
      containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting
      industry. Lorem Ipsum has been the industry's standard dummy text ever
      since the 1500s, when an unknown printer took a galley of type and
      scrambled it to make a type specimen book. It has survived not only
      five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with
      the release of Letraset sheets containing Lorem Ipsum passages, and
      more recently with desktop publishing software like Aldus PageMaker
      including versions of Lorem Ipsum.
    </p>
    <div class="title">
      <h1>SKILL SET</h1>
    </div>
    <img class="bottom-bar-right" src="./images/Group 5.png" />
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <h3 class="skills-heading">MAJOR TECHNOLOGIES & SKILLS</h3>
        {{#each user.skills}}
        <div class="skills">
          <h4>{{ name }}</h4>
          <span>
            {{#each level}}
            <i {{#if has}} class="fa-solid fa-circle ml-2 color-blue" {{else}} class="fa-solid fa-circle ml-2 color-grey" {{/if}} ></i>
            {{/each}}
          </span>
        </div>
        {{/each}}

      </div>
    </div>
    <div>
      <div class="title">
        <h1>EDUCATION</h1>
      </div>
      <img class="bottom-bar-right" src="./images/Group 6.png" />
      <div class="education-detail">
        <div class="d-flex">
          <h3><span>MCS</span></h3>
          <h3 class="ml-5">From 2018 - 2020</h3>
        </div>
        <h4 class="pt-4">University of Management and Technology.</h4>
      </div>
    </div>
    <div>
      <div class="title">
        <h1>PROJECT DETAILS</h1>
      </div>
      <img class="bottom-bar-right" src="./images/Group 6.png" />
      <div class="projet-bg">
        <h2 class="project-subheading">
          <span class="skills-heading">Project:</span>Visualizeroi
        </h2>
        <img class="bottom-bar" src="./images/Rectangle 7.png" />
        <div class="project-details">
          <h3 class="project-info">Project Description:</h3>
          <p class="project-para">
            VisualizeROI Enables Value Quantification and Communication
            Throughout the Funnel.
          </p>
        </div>
        <img class="bottom-bar" src="./images/Rectangle 6.png" />
        <div class="project-details">
          <h3 class="project-info">Tools & Technologies:</h3>
          <p class="project-para">
            Yii1.1, ReactJS, Node MicroServices, MicroFrontend ReactJS,
            Salesforce, HubSpot, SSO, Marketo, Blockly
          </p>
        </div>
        <img class="bottom-bar" src="./images/Rectangle 6.png" />
        <div class="project-details">
          <h3 class="project-info">Roles & Responsibilities:</h3>
          <p class="project-para">
            Team management, CI/CD flow check, PR review of the developers,
            Clients management which included DELL, CISCO, HP, LinkedIn, </br>
            understand the requirements of the client customers, Micro
            Services Design.
          </p>
        </div>
        <img class="bottom-bar" src="./images/Rectangle 6.png" />
        <div class="project-details">
          <h3 class="project-info pt-4">URL:</h3>
          <p class="project-para pt-4">https://www.visualizeroi.com</p>
        </div>
      </div>
    </div>
    <div>
      <div class="projet-bg">
        <h3 class="project-subheading">
          <span class="skills-heading">Project:</span>Visualizeroi
        </h3>
        <img class="bottom-bar" src="./images/Rectangle 7.png" />
        <div class="project-details">
          <h3 class="project-info">Project Description:</h3>
          <p class="project-para">
            VisualizeROI Enables Value Quantification and Communication
            Throughout the Funnel.
          </p>
        </div>
        <img class="bottom-bar" src="./images/Rectangle 6.png" />
        <div class="project-details">
          <h3 class="project-info">Tools & Technologies:</h3>
          <p class="project-para">
            Yii1.1, ReactJS, Node MicroServices, MicroFrontend ReactJS,
            Salesforce, HubSpot, SSO, Marketo, Blockly
          </p>
        </div>
        <img class="bottom-bar" src="./images/Rectangle 6.png" />
        <div class="project-details">
          <h3 class="project-info">Roles & Responsibilities:</h3>
          <p class="project-para">
            Team management, CI/CD flow check, PR review of the developers,
            Clients management which included DELL, CISCO, HP, LinkedIn, </br>
            understand the requirements of the client customers, Micro
            Services Design.
          </p>
        </div>
        <img class="bottom-bar" src="./images/Rectangle 6.png" />
        <div class="project-details">
          <h3 class="project-info pt-4">URL:</h3>
          <p class="project-para pt-4">https://www.visualizeroi.com</p>
        </div>
      </div>
    </div>
    <img class="footer-bar" src="./images/Rectangle 9.png" />
    <div class="project-details">
      <h3 class="project-info pt-4">Disclaimer:</h3>
      <p class="project-para pt-4">
        This is a private document and belongs to InvoZone. All rights are
        reserved with InvoZone.
      </p>
    </div>
  </div>
</div>